{% set creds = data.dorms.credits %}

<footer class="footer" role="contentinfo">
  <div class="footer-container">
    <div class="credits" id="reporting">Reporting by {{ creds[0].reporting }}</div>
    <div class="credits" id="video">Videos by {{ creds[0].videos }}</div>
    <div class="credits" id="editing">Photos by {{ creds[0].photos }}<br><br>Editing by {{ creds[0].editing }}</div>
    <div class="credits" id="development">Design and development by {{ creds[0].development }}</div>
  </div>
</footer>
