<div class="title-wrapper">
  <div class="nbn-presents">North by Northwestern + <span class="res-e"><img src="./../assets/rezessentials.jpg"></span> present</div>
  <div class="head"><span class="the">The</span> <span class="hg">Housing Guide</span> <span class="year">2019</span></div>
  <div class="blurb">
    Your first college home can be a taste of freedom and provide you with a great community, but the housing selection process can also be daunting. North by Northwestern's Freshman Housing Guide has you covered. Use the filters to see which buildings work for you, then click a building name to see video, photos and more.
  </div>
</div>

<hr class="break">
