.footer {
  background-color: $color-primary;
  color: $color-offwhite;
  font-family: $font-sans-serif;
  font-size: 0.875rem;

  max-width: 100%;
  width: 100%;

  @include mq($from: footer-break) {
    font-size: 0.75rem;
  }
}

.footer-container {
  align-items: top;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 0;

  @include mq($from: footer-break) {
    flex-wrap: nowrap;
    padding-top: $gutter-half;
  }

  .credits {
    width: 25%;
    margin: 10px;
  }
}
