{% extends 'base.html' %}

{% set jsPackName = 'main' %}
{% set context = data.text %}
{% set authorComma = joiner() %}

{% set dorms = data.dorms.dorms %}

{% include 'templates/components/housing-deck.html'%}
{% block content %}

  <div class="wrapper">
    <div id="mapid"></div>


    <div class="dorm-list-wrapper">
    <table class="dorms-list">
      <thead>
        <td>Dorm</td>
        <td>Size</td>
        <td>Type</td>
      </thead>
      <tbody>
    {% for item in dorms %}
      <tr class="dorm-row" data-fullname="{{ item.name }}" data-marker="{{ loop.index0 }}">
        <td><p class="dorm-name">{{ item.short_name }}</p></td>
        <td><p class="dorm-size">{{ item.size }}</p></td>
        <td><p class="dorm-type">{{ item.dorm_type }}</p></td>
      </tr>
    {% endfor %}
    </tbody>
    </table>

  </div>

  <div class="filter-dorms">

    <div class="filter-option">Campus area</div>
    <ul class="campus-area">
      <li><input class="filter" id="north" type="checkbox">North campus</li>
      <li><input  class="filter" id="south" type="checkbox">South campus</li>
    </ul>

    <div class="filter-option">Dorm size</div>
    <ul class="size">
      <li><input  class="filter" id="small" type="checkbox">Small</li>
      <li><input  class="filter" id="medium" type="checkbox">Medium</li>
      <li><input  class="filter" id="large" type="checkbox">Large</li>
    </ul>

    <div class="filter-option">Type of dorm</div>
    <ul class="type">
      <li><input  class="filter" id="hall" type="checkbox">Res Hall</li>
      <li><input  class="filter" id="college" type="checkbox">Res College</li>
      <li><input  class="filter" id="community" type="checkbox">Res Community</li>
    </ul>

    <div class="filter-option">Miscellaneous perks</div>
    <ul class="AC">
      <li><input  class="filter" id="AC" type="checkbox">Has A.C.</li>
      <li><input  class="filter" id="dining" type="checkbox">Has dining hall</li>

    </ul>

    <div class="clear-filter">Clear filters</div>
  </div>
  </div>

{% endblock content %}

{% block inline_data %}
<script>
  window.ttData = {
    gutenTag: '{{ context.guten_tag or "subject-politics" }}'
  };
</script>
{% endblock inline_data %}
